/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

body {
  height: 100vh;
  background: linear-gradient(134.9deg, #8338EC 0%, #F65510 96.04%, #FB5607 100%);
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF; }

a {
  text-decoration: none; }
  a:link {
    color: #FFFFFF; }
  a:visited {
    color: #FFFFFF; }
  a:hover {
    color: rgba(255, 255, 255, 0.7); }

nav {
  position: relative;
  text-align: center;
  padding: 26px 26px 0; }
  @media (min-width: 768px) {
    nav {
      display: flex;
      align-items: center;
      text-align: left; } }

.logo {
  width: 65px; }
  @media (min-width: 768px) {
    .logo {
      width: 45px;
      margin-right: 26px; } }

.hambuyga {
  position: fixed;
  top: 26px;
  right: 26px; }
  @media (min-width: 768px) {
    .hambuyga {
      display: none; } }

.navigation-lists {
  display: none; }
  @media (min-width: 768px) {
    .navigation-lists {
      display: flex;
      justify-content: space-between;
      flex-grow: 1; }
      .navigation-lists .close {
        display: none; }
      .navigation-lists ul {
        display: inline-flex; }
        .navigation-lists ul li {
          margin-right: 16px;
          font-size: 0.875em;
          line-height: 1; }
        .navigation-lists ul:last-child li:last-child {
          font-weight: 500; } }

main {
  text-align: center;
  margin: 0 auto;
  margin-top: 46px;
  max-width: 550px; }
  @media (min-width: 768px) {
    main {
      margin-top: 104px; } }
  main h1 {
    margin-bottom: 26px;
    font-size: 2.750em;
    line-height: 1; }
  main p {
    padding: 0 26px;
    font-size: 1.250em;
    line-height: 1.30;
    opacity: 0.80; }
    @media (min-width: 768px) {
      main p {
        padding: 0; } }
