@import 'reset';

// ****media query variables****
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

body {
  height: 100vh;
  background: linear-gradient(134.9deg, #8338EC 0%, #F65510 96.04%, #FB5607 100%);
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

a {
 text-decoration: none;

 &:link {
   color: #FFFFFF;
 }

 &:visited {
   color: #FFFFFF;
 }

 &:hover {
   color: rgba(255, 255, 255, 0.70);
 }
}

// ****navigation****
nav {
  position: relative;
  text-align: center;
  padding: 26px 26px 0;

  @media (min-width: $medium) {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

.logo {
  width: 65px;

  @media (min-width: $medium) {
    width: 45px;
    margin-right: 26px;
  }
}

.hambuyga {
  position: fixed;
  top: 26px;
  right: 26px;

  @media (min-width: $medium) {
    display: none;
  }
}

.navigation-lists {
  @media (max-width: $medium) {
    transform: translateX(100%);
    transition: 0.5s transform ease;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 52px;
    z-index: 1;
    padding-top: 52px;
    padding-left: 26px;
    font-size: 1.125em;  //18px
    line-height: 0.875em;  //14px
    text-align: left;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .close {
    position: absolute;
    top: 26px;
    right: 26px;
  }

  li {
    margin-bottom: 26px;
  }

  &.open {
    transform: translateX(0);

    a {
      color: #000000;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }

  }

  @media (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .close {
      display: none;
    }

    ul {
      display: inline-flex;

      li {
        margin: 0;
        margin-right: 16px;
        font-size: 0.875em;  //14px
        line-height: 1;
      }

      &:last-child li:last-child {  //last li of last ul
        font-weight: 500;
      }
    }
  }
}

// ****landing page****
main {
  text-align: center;
  margin: 0 auto;
  margin-top: 46px;
  max-width: 550px;

  @media (min-width: $medium) {
    margin-top: 104px;
  }

  h1 {
    margin-bottom: 26px;
    font-size: 2.750em;  //44px
    line-height: 1;  //44px 1 * 2.750
  }

  p {
    padding: 0 26px;
    font-size: 1.250em;  //20px
    line-height: 1.30; //26px 20 * 1.30
    opacity: 0.80;

    @media (min-width: $medium) {
      padding: 0;
    }
  }
}
